<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Online Pizza Shopping Store">
    <meta property="og:title" content="Online Pizza Shopping Store"/>
    <meta property="og:description" content="Online Pizza Shopping Store" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Pizza Shopping Store</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vuejs-shopping-card-cli3 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
      <!-- built files will be auto injected -->
  </body>
</html>
